<div style="height: 90vh; width: 100vw; overflow-y: scroll; overflow-x: hidden;"
  class="scroll-container">
    <div style="height: 90vh; width: 100vw;"
    class="scroll-item">
    
    </div>
    <div style="height: 90vh; width: 100vw;"
      class="scroll-item">

    </div>
    <div style="height: 90vh; width: 100vw;"
      class="scroll-item">
  
    </div>
</div>

<!--<div class="navigation-container">
  <div class="navigation">
    <div class="navigation-item">
      <a href="#s1"></a>
    </div>
    <div class="navigation-item">
      <a href="#s2"></a>
    </div>
    <div class="navigation-item">
      <a href="#s3"></a>
    </div>
  </div>
</div>-->


