<div class="main-panel">
  <div class="sub-container">
    <div class="controls-container">

      <div class="tools-panel">
          <button (click)="openRegexPickDialog()"
            mat-button>
            Dodaj własny REGEX
          </button>
      </div>

      <div class="main-input-container">
        <mat-form-field class="custom-form-field"
          appearance="outline">
          <input [(ngModel)]="query" matInput placeholder="Wprowadź zapytanie...">
        </mat-form-field>
      </div>

      <div class="regex-container"
        [ngStyle]="{ 'height' : regexList.length > 0 ? '10%' : '0' }">
        <div *ngFor="let regex of regexList">
          <app-regex-unit
            [appRegexClick]="regex"
            [data]="regex">
          </app-regex-unit>
        </div>
      </div>

      <div class="buttons-contaner">

        <button (click)="onSearchButtonClick(query)"
          color="primary"
          mat-raised-button>Wyszukaj</button>

      </div>
    </div>
  </div>
</div>
