<div class="main-container">
  <div style="height: 40vh; width: 35vw;">
    <div class="row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput placeholder="Imię">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Nazwisko">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>NIP</mat-label>
        <input matInput placeholder="NIP">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput type="password" placeholder="Hasło">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Powtórz hasło</mat-label>
        <input matInput type="password" placeholder="Powtórz hasło">
      </mat-form-field>
    </div>
  </div>
</div>